<?xml version="1.0" encoding="UTF-8" ?>
<!--映射文件DTD约束头-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mybatis用户映射文件-->
<mapper namespace="cn.ywrby.mapper.BookMapper">


    <select id="getSimplifyBookListByClassifyId" resultType="Book">
        SELECT b.id,b.name,b.author,b.pages FROM classify_info c,book_info b WHERE c.id=b.classifyId and c.id=#{classifyId}
    </select>

    <select id="getBookList" resultType="Book">
        select * from book_info
    </select>

    <select id="getBookContent" resultType="java.lang.String">
        select content from book_content where bookId=#{bookId}
    </select>

    <select id="getUserBookList" resultType="Book">
        select b.*,c.`name` classify_name,c.`work` work  from book_info b,classify_info c, user_classify uc where  uc.classifyId=c.id and b.classifyId=uc.classifyId and uc.userId=#{userId}
    </select>

    <select id="getBookByClassifyId" resultType="Book">
        SELECT * FROM book_info b WHERE b.classifyId=#{classifyId}
    </select>

    <select id="getBookInfo" resultType="Book">
        SELECT * from book_info b WHERE b.id=#{bookId}
    </select>

    <select id="getUserHaveReadList" resultType="java.lang.Integer">
        SELECT bookId FROM user_read ur WHERE ur.userId=#{userId}
    </select>


    <select id="getUserHaveAnswerList" resultType="java.lang.Integer">
        SELECT bookId FROM user_answer ua WHERE ua.userId=#{userId}
    </select>
</mapper>
