<?xml version="1.0" encoding="UTF-8" ?>
<!--映射文件DTD约束头-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mybatis用户映射文件-->
<mapper namespace="cn.ywrby.mapper.UserMapper">
    <select id="findAll" resultType="User">
        select * from user_info
    </select>

    <select id="findUserByUserAndPwd" resultType="User">
        select * from user_info where schNum= #{username} and pwd = #{pwd} limit 1
    </select>

    <select id="findUserByUsername" resultType="User">
        select * from user_info where schNum= #{username} limit 1
    </select>

    <select id="findUserById" resultType="User">
        select * from user_info where id= #{id} limit 1
    </select>

    <select id="getUserPermission" resultType="Integer">
        SELECT p.permissionId FROM permission_info p WHERE p.userId=#{userId}
    </select>

    <select id="findClassByUsername" resultType="UserClass">
        SELECT m.major,c.college,uc.clsNo
        from major_info m,college_info c,user_cls uc,user_info u
        WHERE uc.userId=u.id
          and m.collegeId=c.id
          and uc.majorId=m.id
          and u.schNum= #{username}
    </select>

    <update id="updateUserInfo">
        update user_info set name=#{name},pwd=#{password} where schNum=#{username}
    </update>

    <insert id="insertKWLForm"  keyProperty="id" useGeneratedKeys="true" parameterType="KWL">
        INSERT INTO kwl_info (userId,bookId,preKnown,QA,rate,summary,read_time)  VALUES (#{userId},#{bookId},#{preKnown},#{QA},#{rate},#{summary},#{read_time})
    </insert>

    <insert id="insertUserRead">
        insert into user_read values (#{userId},#{bookId})
    </insert>

    <insert id="insertUserAnswer">
        insert into user_answer values (#{userId},#{bookId})
    </insert>

    <insert id="insertQuestionForm"  keyProperty="id" useGeneratedKeys="true" parameterType="QuestionForm">
        insert into question_info (question,type,answer,clues,robotQuestion,rate,modifyQuestion,userId,bookId) values
        (#{question},#{type},#{answer},#{clues},#{robotQuestion},#{rate},#{modifyQuestion},#{userId},#{bookId})
    </insert>

</mapper>